extends ./layout.jade
block contenido
	form(action="/users",method="POST")
		div(class="form-group")
			div
				label(for="username") Username
				input(type="text",name="username",placeholder="username",id="username" class="form-control")
			div
				label(for="email") Email
				input(type="text",name="email",placeholder="email",id="email",class="form-control")
			div
				label(for="password") Contraseña
				input(type="password",name="password",placeholder="password",id="password",class="form-control")
			div
				label(for="password") Confirmar Contraseña
				input(type="password",name="password_confirmation",placeholder="password",id="password_confirmation",class="form-control")
			div
				input(type="submit",value="Iniciar sesión",class="btn btn-info")
