<!DOCTYPE html>
<html ng-app='myApp'>
<head>
	<title>Angular JS Tolohouse</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel='stylesheet' type="text/css" href='css/styles.css'>
</head>
<body>
<p>{{'Hello ' + 'you'}}</p>
<p>{{6 + 9}}</p>
<div ng-controller='StoreController as store'>
	<div ng-hide='store.product.soldOut' ng-repeat='product in store.list'>
		<p>{{product.name}}</p>
		<p>{{product.price}}</p>
		<p>{{product.description}}</p>
		<button ng-show='product.canPurchase'>Comprar Ahora!!</button>
	</div>
</div>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>
<script type="text/javascript" src='js/app.js'></script>
</body>
</html>