doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(ng-app="")
		block content
		script(src="/lib/angular/angular.min.js")
		script(src="/application.js")
