h1{
	color: #D80029;
	text-align: center;
	font-family: monospace;
}
h3{
	color:#FD6F00;
	text-align: center;
	font-family: monospace;
}

#botones{
	background: #FFC210;
	text-align: center;
}

#cuadrado {
	text-align: center;
	width: 300px;
	height: 300px;
	&.green{
		background: green;
	}
	&.black{
		background: black;
	}
	&.purple{
		background: purple;
	}
	&.red{
		background: red;
	}
}

a{
	font-family: monospace;
	font-size: 16px;
	background: #190707;
	padding: 5px;
	color:#fff;
}