h1 {
  color: #D80029;
  text-align: center;
  font-family: monospace; }
h2{
color:#3DC9C2;
text-align: center;
font-family: monospace;
}
h3 {
  color: #FD6F00;
  text-align: center;
  font-family: monospace; }

#botones {
  background: #FFC210;
  text-align: center; }

#cuadrado {
  text-align: center;
  width: 100px;
  height: 100px; }
  #cuadrado.green {
    background: green; }
  #cuadrado.black {
    background: black; }
  #cuadrado.purple {
    background: purple; }
  #cuadrado.red {
    background: red; }

#botones a {
  font-family: monospace;
  font-size: 16px;
  background: #190707;
  padding: 5px;
  color: #fff; }

  /*# sourceMappingURL=styles.css.map */