doctype html
html
	head
		meta(charset='utf-8')
		title Playing with Jade, Sass and Gulp
		link(rel='stylesheet',href='../css/styles.css')
	body
		p Hello Gulp
		p let's try
		p some
		p Now!!
		#div1
			p Its super slow
			p Testing... now!!!!
			p Pharell Williams
			p hello parella
		#div2
			p con todas las cremas!!!!
			p con todas las cremas
			p Hola mundo
			p Helllo by Adele