.toggle_menu{
	text-align: center;
	background-color: #2C2A2A;
	color: white;
}

#menu{
	margin: 0 0 0 0;
	visibility: hidden;
	opacity: 0;
}

#menu.mostrar{
	visibility: visible;
	opacity: 100;
}

.menu__item{
	background-color: #2DBEC5
}

