div{
	margin-top: 30px;
}

#input-container{
	position: relative;
	margin-top: 30px;
	width: 50%;
}

#input-rec{
	font-family: cursive;	
	border: none;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.117647);
	width: 100%;
	border: 0 0 1px 0;
}

#input-text{
	position: absolute;
	left: 2px;
	top: 2px;
	color: rgba(0, 0, 0, 0.258824);
	font-family: Roboto;
	transition: 0.2s;
}

#input-rec:focus + #input-text{
	color: rgb(16,108,200);
	transform-origin: center left;
	transform: scale(0.8) translate(0,-25px);
}

#input-rec:focus{
	border: none;
	border-bottom-style: solid;
	border-bottom-color: rgb(16,108,200);
	border: 0 0 2px;
}



.button{
	background-color: tomato;
	color: white;
	border-color: tomato;
	border-radius: 20px;
	box-shadow: none;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 20px;
}

#form-close{
	background-color: skyblue;
	border-color: skyblue;
	position: absolute;
	bottom: 20px;
	left: 50%;
	visibility: hidden;
	transform: translateX(-50%);
}

#container{
	margin: 0;
	background-color: green;
	visibility: visible;
	width: 100%;
	height: 200px;
}

@keyframes fadeIn{
	0% { 	
		opacity: 0;
		visibility: hidden;
	}
	100% { 
		opacity: 1;
		visibility: visible
	}
}

#to-body{
	margin: 0 0 0 0;
	width: 100%;
	height: 100%;
	background-color: yellow;
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
	overflow: hidden;
}

#to-body.active{
	animation: fadeIn 0.6s forwards;
}

@keyframes slideUp {
	0% {
		transform: translateY(400px);
	}
	100% {
		transform: translateY(-555px);
	}
}

#modal{
	margin: 0;
	background-color: #D4C8C8;
	border-radius: 20px;
	width: 70%;
	height: 70%;
	position: absolute;
	top: 100%;
	left: 15%;
	box-shadow: 10px 8px 5px 0px rgba(0,0,0,0.75);
}

#modal.active{
	animation: slideUp .65s 0.6s cubic-bezier(0.17, 0.89, 0.32, 1.24) forwards;
}

#modal.active #form-close{
	animation: fadeIn 0.6s 1.25s forwards;
}
