doctype html
html
	head
		title Hello Jade
		meta(charset='utf-8')
	body
		p.
			Si puedes ver esto, entonces
			jade funciona!!!
		p.
			El siguiente parrafo tendra una varible que fue definida en backend
		p= nombreUser
		- var arreglo = [1,2,3,4,5];
		- for (var i = arreglo.length; i >= 0; i--)
			p Numero #{arreglo[i]}
		
